<div class='well'>
    <h2>DNA@Home Publications</h2>
    <hr class='news-hr'>

    <h3>Conference Proceedings</h3>

    <ul>
        <li>Travis Desell, Lee A. Newberg, Malik Magdon-Ismail, Boleslaw K. Szymanski and William Thompson. <b>Finding Protein Binding Sites Using Volunteer Computing Grids</b>. <i>In the 2011 2nd International Congress on Computer Applications and Computational Science (CACS 2011)</i>. Bali, Indonesia. November 15-17, 2011. <a href='http://people.aero.und.edu/~tdesell/papers/2011_cacs.pdf'>[pdf]</a></li>
    </ul>

    <h3>Oral Presentations</h3>

    <ul>
        <li>Travis Desell. <b>DNA@Home: Using Volunteered Computers for Finding Transcription Factor Binding Sites</b>. <i>UND Epigenetics and Epigenomics Symposium</i>. University of North Dakota, Grand Forks, ND. November 15, 2012. <a href='http://people.aero.und.edu/~tdesell/talks/2012_nov_15_und_epigenetics.ppt'>[ppt]</a> <a href='http://people.aero.und.edu/~tdesell/talks/2012_nov_15_und_epigenetics.key'>[keynote]</a> </li>

        <li>Travis Desell. <b>Finding Protein Binding Sites using Volunteer Computing Grids</b>. <i>The 2011 2nd International Congress on Computer Applications and Computational Science (CACS 2011)</i>. Bali, Indonesia. November 15-17, 2011. <a href='http://people.aero.und.edu/~tdesell/talks/2011_nov_15_cacs.ppt'>[ppt]</a> <a href='http://people.aero.und.edu/~tdesell/talks/2011_nov_15_cacs.key'>[keynote]</a></li>
    </ul>
</div>
