<table class='table table-striped table-bordered'>
    <thead>
        <th>Rank</th>
        <th>Name</th>
        <th><a href='./top_watchers.php?sort=events&min={{min}}'>Valid Events</a></th>
        <th><a href='./top_watchers.php?sort=seconds&min={{min}}'>Seconds Watched</a></th>
        <th>Country</th>
        <th>Participant Since</th>
        <th>Badges</th>
    </thead>
    <tbody>
        {{#user}}
        <tr>
            <td>{{rank}}</td>
            <td>{{name}}</td>
            <td>{{valid_events}}</td>
            <td>{{bossa_total_credit}}</td>
            <td>{{country}}</td>
            <td>{{create_time}}</td>
            <td>{{{badges}}}</td>
        </tr>
        {{/user}}
    </tbody>
</table>
